<div class="center jumbotron">
	<div class="col-xs-4">
	<table>
		<tr>
			<%= form_for :upload, url: osmProceed_path do |f| %>
				<div class="progress" id="progress-bar" style="display:none;">
					<div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%">
						<span class="sr-only" id="progress-bar-text"></span>
					</div>
				</div>
				<%= f.file_field :fileOSM, direct: true %>
				<%= f.submit :アップロード%>
			<% end %>
		</tr>
	</table>
	</div>
</div>