<% provide(:title, "About") %>
<h1>SBS About Program</h1>
<p>
    The tester of Graph drawer
    村松智美＠SBS情報システム <t_muramatsu@sbs-infosys.co.jp>
16:57 (33 分前)

To a_maulana 
アリフマウラナ様

お疲れ様です。
総務の村松です。

先ほど2018年度採用についてお問い合わせいただきましたので、
ご連絡します。
現在、当社では新卒のかんづめサイトより2018年度採用のエントリーを開始しております。

新卒のかんづめhttps://ssl.at-s.com/shinsotsu/2018/gakusei/gak09100.aspx?kbn=910&kcd=1029&nen=2018

企業見学説明会の日程もお知らせしておきます。
こちらも上記サイトで申込を受け付けています。
全部で４回行いますが、内容はいずれも同じです。

日程：3/24（金）、4/14（金）、4/21（金）、4/28（金）
時間：13：30～16：30
場所：社内会議室
内容：企業説明、職場見学、先輩社員との座談会

不明な点がありましたら、ご連絡ください。


:*・゜.:*・゜.:*・゜.:*・゜.:*:*・゜.:*・゜:*
　 　総務本部 村松智美

t_muramatsu@sbs-infosys.co.jp
:*・゜.:*・゜.:*・゜.:*・゜.:* :*・゜.:*・゜:*
</p>