<footer class="footer">
    <small>
        <a href="http://www.sbs-infosys.co.jp/" >SBS情報システム</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://www.at-s.com/sbstv/">News</a></li>
        </ul>
    </nav>
</footer>